# Core functionality - changes here should be rare!
/src/app.py                   @VAISHNAVI-VAVILALA
/src/backend/database.py      @VAISHNAVI-VAVILALA
/src/backend/routers/auth.py  @VAISHNAVI-VAVILALA

# The frontend will need refactored soon to be more object oriented.
/src/static/   @VAISHNAVI-VAVILALA
